* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

.modules-right {
    margin-right: 8px;
}

#pulseaudio,
#bluetooth {
    padding: 0 4px;
    color: #ffffff;
}

#bluetooth {
    font-size: 18px;
    padding: 0 4px;
}

#network,
#battery,
#tray,
#clock {
    padding: 0 8px;
    color: #ffffff;
}

#window {
    padding: 0 4px;
    color: #ffffff;
}
