* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

.modules-right {
    margin-right: 8px;
}

#custom-notification,
#pulseaudio,
#battery {
    font-size: 16px;
    padding: 0 4px;
    color: #ffffff;
}

#bluetooth {
    font-size: 18px;
    padding: 0 4px;
    color: #ffffff;
}

#network,
#tray,
#clock {
    padding: 0 8px;
    color: #ffffff;
}

#window {
    padding: 0 8px;
    color: #ffffff;
}

#custom-notification {
    margin-right: 2px;
}
