window {
    background: rgba(25, 25, 25, 0.7); /* Dark translucent */
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#box {
    padding: 5px;
}

button {
    background: transparent;
    border: none;
    margin: 4px;
    padding: 8px;
    transition: all 0.2s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    /*transform: translateY(-5px);*/
}
